<style>
  .navbar-brand{
    font-family: 'Press Start 2P', cursive;
    color: green;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
  }
  @-webkit-keyframes example {
    from {color: green;}
    to {color: yellow;}
  }

/* Standard syntax */
  @keyframes example {
    from {color: green;}
    to {color: yellow;}
  }

  a{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px  
  }

</style>
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<nav class="navbar navbar-light navbar-default navbar-fixed-top" style="background-color:white">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style ="font:arial;" class="navbar-brand" href=""><b>ENTERPRISE</b></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile/"> Profile</a></li>
        <li><a href="/forum/"> Forum</a></li>
        <li><a href="/log-in/"> Log In</a></li>
      </ul>
    </div>!-->
  </div>
</nav>

